[Unit]
Description=legs-client
After=network.target

[Service]
Type=forking
User=USER_NAME
Group=USER_NAME
ExecStart=/usr/local/bin/legsc start
ExecStop=/usr/local/bin/legsc stop
Restart=always

[Install]
WantedBy=multi-user.target
